<!DOCTYPE html>
<html>
	<head>
		<!-- jQuery -->
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<!-- jQuery UI: must be 1.9+; must precede Angular in the header -->
		<script src='http://cdn.jsdelivr.net/g/jquery.ui@1.10'></script>
		<!-- Angular -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
		<!-- The sortable directive, courtesy of https://github.com/angular-ui/ui-sortable -->
		<script src="sortable.js"></script>
		<!-- This would normally be app.js, but it's so small--why bother? -->
		<script>
			var test = angular.module('test', ['ui.sortable']);
			test.controller('testController',
			    function($scope) {
			        $scope.list = [1, 2, 3, 4];
			    }
			);
		</script>
		<!-- Stylez -->
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<div ng-app='test' ng-init ng-controller="testController">
			<h2>
				The draggable interface:
			</h2>
			<ul ui-sortable ng-model='list'>
				<li ng-repeat='item in list' class="item">
					{{item}}
				</li>
			</ul>
		    <hr />
		    <h2>
			    The contents of the model:
		    </h2>
		    <ul>
			    <li ng-repeat='item in list'>
				    {{item}}
			    </li>
		    </ul>
		</div>
	</body>
</html>