body {
    text-align: center;
}
ul {
    display: inline-block;
}
li {
	list-style: none;
}
.item {
    padding: 5px;
    width: 150px;
    height: 20px;
    border: 1px solid #333;
    background: blue;
    color: white;
    list-style: none;
    cursor: move;
    text-align: center;
    border: 1px solid white;
}